body { font-family: 'Roboto', sans-serif;
    color: #212121;
    background-color: #f5f5f5;
    
} 
.web {
color: #2196F3;
font-family: 'Raleway', sans-serif;
font-size: 26px;
line-height: 1.2;
text-decoration: none;
font-style: bold;
}
.studio {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-weight: bold;
}
.studio_bot {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    font-weight: bold;
}
.main {
    background-color: #2F303A;
    color: #FFFFFF;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0,06em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
   


}
.main_button {
    color: #FFFFFF;
    background-color:#2196F3;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0,06em;
    align-items: center;
    text-align: center;
    
}
.main_button:hover {
    color: #FFFFFF;
    background-color: #188CE8;
}
.main_button:focus {
    color: #FFFFFF;
    background-color: #188CE8;
}
.header {
    background-color: #ECECEC;
}
.site-nav {
    text-decoration: none;
    list-style-type: none;

}
.contacts {
    list-style-type: none;
    text-decoration: none;
    color: #212121;
}
.link {
    list-style-type: none;
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0,02em;
    line-height: 1.172;
    

}
.link:hover {
    color: #2196F3;
}
.link:focus {
    color: #2196F3;
}
.link:current {
    color: #2196F3;
}
.contact {
    list-style-type: none;
    text-decoration: none;
    color: #757575;
}
.contact:hover {
    color: #2196F3;
}

.h2 {
    visibility: hidden;
}
.peculiarities-block {
    text-decoration: none;
    list-style-type: none;
}
.list-item-name {
    
    font-size: 14px;
    font-weight: 700;
    color: #212121;
    letter-spacing: 0.03em;
    line-height: 1.14;
}
.list-item-description {
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.wwd {
    background-color: #ECECEC;
   
}
.wwd-h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.wwd-ul {
    text-decoration: none;
    list-style-type: none;

}
.team {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
background-color: #F5F4FA;
}
.team-color {
    background-color: #F5F4FA;
}
.team-list {
    background-color: #F5F4FA;
    list-style-type: none;

}
.name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
.job-title {
    font-weight: 400;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
.member1 {
    background-color: #FFFFFF;
}
.member2 {
    background-color: #FFFFFF;
}
.member3 {
    background-color: #FFFFFF;
}
.member4 {
    background-color: #FFFFFF;
}
.footer {
    background-color: #2F303A;
}
.foot-contacts {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
}
.address {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
list-style-type: none;
text-decoration: none;
}
.contact-f {
    list-style-type: none;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/* Portofolio html */

.portfolio-button {
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}
.button_list {
    list-style-type: none;
    background-color: #FFFFFF;
}
.picture_list {
    list-style-type: none;
}
.picture_item {
    background-color: #FFFFFF;
}
.job {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.type {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: #188CE8;
}
.address:hover,
.address:focus {
    color: #188CE8;
}
.contact-f:hover,
.contact-f:focus {
    color: #188CE8;
}

.visually-hidden {
    visibility: hidden;
}
