:root {
--primary-text-color: #212121;
--secondary-text-color: #FFFFFF;
--tetriary-text-color: #000000;
--primary-description-color: #757575;
--secondary-description-color: rgba(255, 255, 255, 0.6);
--primary-change-color: #2196F3;
--button-color: #188CE8;
--main-background-color: #2F303A;
--random-background-color: #F5F4FA;
}




.header {
    display: flex;
}

.div_header {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}

.nav_header {
    display: flex;
}

body { font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 0.03em;
    
} 

.web {
color: var(--primary-change-color);
    margin-top: 24px;
    margin-bottom: 25px;
    margin-left: 215px;

}
.studio {
    color: var(--tetriary-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 25px;
}
.studio_bot {
    color: var(--secondary-text-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    font-weight: bold;
}
.main_section {
    background-color: var(--main-background-color);
    display: block;
    padding-top: 80px;
    padding-bottom: 94px;
}
.main {
    color: var(--secondary-text-color);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
   


}
.main_button {
    color: var(--secondary-text-color);
    background-color:var(--primary-change-color);
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    
}
.main_button:hover {

    background-color: var(--button-color);
}
.main_button:focus {

    background-color: var(--button-color);
}

.contact:hover {
    color: var(--primary-change-color);
}
.contact:focus {
    color: var(--primary-change-color);
}
.site-nav {
    text-decoration: none;
    list-style-type: none;
    display: flex;

}
.contacts {
    list-style-type: none;
    display: flex;
    margin-left: 344px;
    
    
    
}
.link {
    list-style-type: none;
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.17;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
    display: block;


}
.link:hover {
    color: var(--primary-change-color);
}
.link:focus {
    color: var(--primary-change-color);
}
.link:current {
    color: var(--primary-change-color);
}
.contact {
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-description-color);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 50px;
    
}
.contact:hover {
    color: var(--primary-change-color);
}

.peculiarities-block {
    text-decoration: none;
    list-style-type: none;
}
.list-item-name {
    
    font-size: 14px;
    font-weight: 700;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    line-height: 1.14;
}
.list-item-description {
    font-size: 14px;
    color: var(--primary-description-color);
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.wwd {
    background-color: var(--secondary-text-color);
   
}
.wwd-h2 {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.wwd-ul {
    text-decoration: none;
    list-style-type: none;

}
.team {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.team-color {
    background-color: var(--random-background-color);
}
.team-list {
    list-style-type: none;

}
.name {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.job-title {
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-description-color);
}
.member1 {
    background-color: var(--secondary-text-color);
}
.member2 {
    background-color: var(--secondary-text-color);
}
.member3 {
    background-color: var(--secondary-text-color);
}
.member4 {
    background-color: var(--secondary-text-color);
}
.footer {
    background-color: var(--main-background-color);
}
.foot-contacts {
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
}
.address {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-text-color);
text-decoration: none;
}
.contact-f {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-description-color);
}

/* Portofolio html */

.portfolio-button {
  font-family: inherit;
  color: var(--primary-text-color);
  background-color: var(--random-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--primary-change-color);
}
.button_list {
    list-style-type: none;
   
}
.picture_list {
    list-style-type: none;
}
.picture_item {
    background-color: var(--secondary-text-color);
}
.job {
  color:var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.type {
  color: var(--primary-description-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current {
  color: var(--button-color);
}
.address:hover,
.address:focus {
    color: var(--button-color);
}
.contact-f:hover,
.contact-f:focus {
    color: var(--button-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
